.robin{

}





.tech-slideshow {
    height: 423px;
    max-width: 2160px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
    height: 423px;
    width: 750px;
    background: url(https://www.pngarts.com/files/1/Face-PNG-Background-Image.png);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
}

.tech-slideshow .mover-1 {
    animation: moveSlideshow 12s linear infinite;
}

.tech-slideshow .mover-2 {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 -200px;
    animation: moveSlideshow 15s linear infinite;
}

.tech-slideshow:hover .mover-2 {
    opacity: 1;
}

@keyframes moveSlideshow {
    100% {
        transform: translateX(-66.6666%);
    }
}

.css-3d-text {

    font-size: 76px;
    color: #ed1aed;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-shadow: 0px 0px 0 rgb(232, 21, 232),
    1px 1px 0 rgb(227, 16, 227),
    2px 2px 0 rgb(222, 11, 222),
    3px 3px 0 rgb(217, 6, 217),
    4px 4px 0 rgb(212, 1, 212),
    5px 5px 0 rgb(207, -4, 207),
    6px 6px 0 rgb(202, -9, 202),
    7px 7px 0 rgb(197, -14, 197),
    8px 8px 0 rgb(192, -19, 192),
    9px 9px 0 rgb(187, -24, 187),
    10px 10px 0 rgb(182, -29, 182),
    11px 11px 10px rgba(230, 32, 32, 0.6),
    11px 11px 1px rgba(230, 32, 32, 0.5),
    0px 0px 10px rgba(230, 32, 32, .2);
}

.css-3d-text2 {

    font-size: 76px;
    color: #1ab1ed;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-shadow: 0px 0px 0 rgb(21, 172, 232),
    1px 1px 0 rgb(16, 167, 227),
    2px 2px 0 rgb(11, 162, 222),
    3px 3px 0 rgb(6, 157, 217),
    4px 4px 0 rgb(1, 152, 212),
    5px 5px 0 rgb(-4, 147, 207),
    6px 6px 0 rgb(-9, 142, 202),
    7px 7px 0 rgb(-14, 137, 197),
    8px 8px 0 rgb(-19, 132, 192),
    9px 9px 0 rgb(-24, 127, 187),
    10px 10px 0 rgb(-29, 122, 182),
    11px 11px 10px rgba(230, 32, 32, 0.6),
    11px 11px 1px rgba(230, 32, 32, 0.5),
    0px 0px 10px rgba(230, 32, 32, .2);
}

.GeneratedMarquee {
    font-size: 76px;
    color: #1ab1ed;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-shadow: 0px 0px 0 rgb(21, 172, 232),
    1px 1px 0 rgb(16, 167, 227),
    2px 2px 0 rgb(11, 162, 222),
    3px 3px 0 rgb(6, 157, 217),
    4px 4px 0 rgb(1, 152, 212),
    5px 5px 0 rgb(-4, 147, 207),
    6px 6px 0 rgb(-9, 142, 202),
    7px 7px 0 rgb(-14, 137, 197),
    8px 8px 0 rgb(-19, 132, 192),
    9px 9px 0 rgb(-24, 127, 187),
    10px 10px 0 rgb(-29, 122, 182),
    11px 11px 10px rgba(230, 32, 32, 0.6),
    11px 11px 1px rgba(230, 32, 32, 0.5),
    0px 0px 10px rgba(230, 32, 32, .2);

    white-space: nowrap;
    overflow: hidden;
    overflow-x:-webkit-marquee;
    -webkit-marquee-direction: forwards;
    -webkit-marquee-style: scroll;
    -webkit-marquee-speed: normal;
    -webkit-marquee-increment: small;
    -webkit-marquee-repetition: 5;
    overflow-x: marquee-line;
    marquee-direction: forward;
    marquee-style: scroll;
    marquee-speed: normal;
    marquee-play-count: 50000;

}
